ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

li {
  padding: 10px;
  border: 1px solid black;
  margin: 5px;
}

.link {
  text-decoration: none;
  color: black;
}
